/* ----------------------------- Responsive ------------------------------------------  */

@media only screen and (max-width:1199px) {

  /* Base Typography
	------------------------------------------------------------------------------*/
  body {
    font-size: 16px;
  }

  .h1,
  h1 {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .h2,
  h2 {
    font-size: 32px;
  }

  .h3,
  h3 {
    font-size: 28px;
  }

  .h4,
  h4 {
    font-size: 24px;
  }

  .h5,
  h5 {
    font-size: 18px;
  }

  .h6,
  h6 {
    font-size: 16px;
  }

  blockquote {
    font-size: 24px;
  }
}

@media only screen and (min-width:992px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width:991px) {

  /* Base Typography
	------------------------------------------------------------------------------*/
  .h1,
  h1 {
    font-size: 33px;
  }

  .h2,
  h2 {
    font-size: 28px;
  }

  .h3,
  h3 {
    font-size: 22px;
  }

  .h4,
  h4 {
    font-size: 20px;
  }

  .h5,
  h5 {
    font-size: 18px;
  }

  .h6,
  h6 {
    font-size: 16px;
  }

  blockquote {
    font-size: 20px;
  }


  body {
    font-size: 16px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  textarea {
    height: 50px;
  }

  /* Header
	------------------------------------------------------------------------------*/
  header {
    padding: 20px 0;
  }

  header nav li a {
    color: #263546;
  }

  header .logo {
    width: 30%;
  }

  header nav {
    width: 70%;
}
}

@media only screen and (max-width:767px) {

  /* Base Typography
	------------------------------------------------------------------------------*/
  .h1,
  h1 {
    font-size: 30px;
    line-height: normal;
  }

  .h2,
  h2 {
    font-size: 26px;
    line-height: normal;
  }

  .h3,
  h3 {
    font-size: 22px;
    line-height: normal;
  }

  .h4,
  h4 {
    font-size: 20px;
    line-height: normal;
  }

  .h5,
  h5 {
    font-size: 18px;
    line-height: normal;
  }

  .h6,
  h6 {
    font-size: 16px;
    line-height: normal;
  }

  select {
    padding-left: 15px;
    padding-right: 35px;
    background-size: 10px;
    background-position: right 15px center;
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .btn {
    padding: 10px 40px 10px 30px;
    font-size: 16px;
  }

  .btn:after {
    right: 22px;
    top: 18px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"] {
    font-size: 15px;
  }

  .form-group label {
    font-size: 15px;
  }

  .form-group label,
  .form-group input,
  .form-group select {
    width: 100%;
    font-size: 15px;
  }

  textarea {
    font-size: 15px;
    padding: 10px 15px;
  }

  select {
    padding: 10px 35px 10px 15px;
    background-size: 10px;
    background-position: right 15px center;
    font-size: 15px;
  }

  select option {
    font-size: 15px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-group.radio-btn-wrap input[type="radio"]+label:before {
    width: 16px;
    height: 16px;
  }

  .form-group.radio-btn-wrap input[type="radio"]:checked+label:after {
    width: 10px;
    height: 10px;
  }

  .form-group.checkbox-btn-wrap input[type="checkbox"]+label:before {
    width: 16px;
    height: 16px;
  }

  .form-group.checkbox-btn-wrap input[type="checkbox"]:checked+label:after {
    width: 5px;
    height: 10px;
    left: 1px;
    top: 6px;
  }

  header nav ul li {padding: 28px 20px;}

  section {
    padding: 50px 0px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  padding: 10px 20px;
  font-size: 14px;
}
footer p {
  font-size: 18px;
}
}

@media only screen and (max-width:640px) {

  /* Base Typography
	------------------------------------------------------------------------------*/
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  textarea {
    height: 45px;
  }

  .form-group label {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }

  .form-group select {
    height: 40px;
  }

  .form-group label,
  .form-group input,
  .form-group select {
    width: 100%;
    font-size: 15px;
  }

  .form-group.left {
    width: 100%;
    padding-right: 0px;
  }

  .form-group.right {
    width: 100%;
    padding-left: 0px;
  }

  header .logo {
    width: 100%;
    text-align: center;
}

header nav {
  width: 100%;
}
header nav {
  width: 100%;
}
header nav ul{justify-content: center;}
footer p {
  font-size: 16px;
}

}

@media only screen and (max-width:479px) {

  /* Base Typography
------------------------------------------------------------------------------*/
  .h1,
  h1 {
    font-size: 24px;
  }

  .h2,
  h2 {
    font-size: 24px;
  }

  .h3,
  h3 {
    font-size: 21px;
  }

  .h4,
  h4 {
    font-size: 18px;
  }

  .h5,
  h5 {
    font-size: 17px;
  }

  .h6,
  h6 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
  }

  header nav ul li {
    padding: 15px 5px;
}

section h1,section.login-page h1 {
  margin-bottom: 30px;
}
section.login-page .info {
  margin-bottom: 50px;
}
section {
  margin-bottom: 15px;
}
form{
  padding: 30px 20px;
}

}

@media only screen and (max-width:400px) {
header nav ul {
  justify-content: center;
  flex-direction: column;
}
}